<!-- Create Directory Modal -->
<div class="modal fade" id="createDirModal"
	th:fragment="modal-create-directory"
	xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Create directory</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input class="form-control" type="text" name="dirname"
					placeholder="Directory name" />
			</div>
			<div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm"
						data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary btn-sm"
						id="createDirBtn">Create</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Upload File Modal -->
<div class="modal fade" id="uploadFileModal"
	th:fragment="modal-upload-file" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Upload file</h5>
				<button type="button" class="close" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input class="form-control-file" type="file" name="upload"
					placeholder="Directory name" />
			</div>
			<div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm"
						data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary btn-sm" id="uploadBtn">Upload</button>
				</div>
			</div>
		</div>
	</div>
</div>