<!-- Create Directory Modal -->
<div class="modal fade" id="createDirModal"
	th:fragment="modal-create-directory"
	xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog" role="document">
		<form method="POST" th:action="@{/storages/createDir}">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Create directory</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" name="path" hidden /> <input
						class="form-control" type="text" name="dirname"
						placeholder="Directory name" />
				</div>
				<div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-sm"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary btn-sm">Create</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Upload File Modal -->
<div class="modal fade" id="uploadFileModal"
	th:fragment="modal-upload-file" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog" role="document">
		<form method="POST" th:action="@{/storages/upload}" enctype="multipart/form-data">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Upload file</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" name="path" hidden /> <input
						class="form-control-file" type="file" name="files" multiple>
				</div>
				<div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary btn-sm"
							data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary btn-sm"
							id="uploadBtn">Upload</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Delete Record Modal -->
<div class="modal fade" id="deleteRecordModal"
	th:fragment="modal-delete-record" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog" role="document">
		<form method="POST" th:action="@{/storages/deleteRecord}">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Are you sure?</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" name="path" hidden />
					<button type="button" class="btn btn-secondary btn-sm"
						data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary btn-sm">Delete</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Edit Record Modal -->
<div class="modal fade" id="editRecordModal"
	th:fragment="modal-edit-record" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog" role="document">
		<form method="POST" th:action="@{/storages/editRecord}">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="text" name="path" hidden /> <input
						class="form-control" type="text" name="newname" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-sm"
						data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary btn-sm">Edit</button>
				</div>
			</div>
		</form>
	</div>
</div>