<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: head"></head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav flex-column">
						<!-- Main menu -->
						<li class="nav-item active"><a class="nav-link" th:href="@{/storages}"><i
								class="fas fa-hdd"></i>Storage</a></li>
						<li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/statistics}"><i
								class="fas fa-chart-line"></i>Statistics</a></li>
						<li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/settings}"><i class="fas fa-cog"></i>Settings</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">
				<div class="content-box-large">
					<div class="panel-heading">
						<div class="panel-title">
							<h4 th:text="${path}" />
						</div>
						<div class="panel-options">
							<a href="#" class="refresh-details"><i
								class="fas fa-sync-alt"></i></a>
						</div>
					</div>
					<div class="panel-body">
						<div class="options">
							<button sec:authorize="hasRole('RW_USER')" id="createDirBtn" type="button"
								class="btn btn-success btn-sm" data-toggle="modal">
								<i class="fas fa-plus"></i><span class="deviceName">Create
									directory</span>
							</button>
							<button sec:authorize="hasRole('RW_USER')" id="uploadFileBtn" type="button"
								class="btn btn-primary btn-sm">
								<i class="fas fa-upload"></i><span class="deviceName">Upload
									files</span>
							</button>
						</div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Name</th>
									<th>Size</th>
									<th>Type</th>
									<th>Owner</th>
									<th>Last modified</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:path="${path} + '/..'">
									<td class="clickable-row">../</td>
									<td colspan="4" />
								</tr>
								<th:block th:each="record, i: ${records}">
									<tr th:path="${path} + '/' + ${record.name}">
										<td th:classappend="${record.type == 'Folder'}?clickable-row"
											th:switch="${record.type}"><i th:case="'Folder'"
											class="fas fa-folder"></i> <i th:case="'File'"
											class="fas fa-file"></i> <span class="deviceName"
											th:text="${record.name}"></span></td>
										<td th:text="${record.size}" />
										<td th:text="${record.type}" />
										<td th:text="${record.owner}" />
										<td th:text="${record.lastModified}" />
										<td>
											<i class="downloadRecord fas fa-download fa-lg" title="Download"/>
											<i sec:authorize="hasRole('RW_USER')" class="editRecord far fa-edit fa-lg" title="Edit"/>
											<i sec:authorize="hasRole('RW_USER')" class="deleteRecord fas fa-trash-alt fa-lg" title="Delete"/>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <footer lang="en" th:replace="fragments/footer :: footer"></footer> -->
	<div lang="en" th:replace="fragments/modals :: modal-create-directory"></div>
	<div lang="en" th:replace="fragments/modals :: modal-upload-file"></div>
	<div lang="en" th:replace="fragments/modals :: modal-delete-record"></div>
	<div lang="en" th:replace="fragments/modals :: modal-edit-record"></div>
</body>

</html>