<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:replace="fragments/header :: head"></head>

<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="page-content">
		<div class="row">
			<div class="col-md-2">
				<div class="sidebar content-box" style="display: block;">
					<ul class="nav flex-column">
						<!-- Main menu -->
						<li class="nav-item"><a class="nav-link" th:href="@{/storages}"><i
								class="fas fa-hdd"></i>Storage</a></li>
						<li sec:authorize="hasRole('ADMIN')" class="nav-item active"><a class="nav-link" th:href="@{/statistics}"><i
								class="fas fa-chart-line"></i>Statistics</a></li>
						<li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/settings}"><i class="fas fa-cog"></i>Settings</a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10">
				<div class="content-box-large">
					<div class="panel-heading">
						<div class="panel-title"></div>
					</div>
					<div class="panel-body"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- <footer lang="en" th:replace="fragments/footer :: footer"></footer> -->
</body>

</html>